---
layout: default
title: Archive
---

<div>

  <h2><strong>Archive</strong></h2>

  <section class="archive_list">
    {% for category in site.categories %}

    <div class="category-name">
      <h2><em>{{ category | first }}</em></h2>
    </div>
    {% for post in category.last %}

    <div class="post_title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
      <span class="date">{{ post.date | date: "%B/%d/%Y" }}</span>
    </div>

    {% endfor %}

    {% endfor %}

  </section>

</div>


