---
layout: default
title: Home
---

<div class="home">
  <div class="post-list">
    <hr style="border: 1px solid">
    {% for post in site.posts limit:5%}

    <article class="post_card post">
      <header class="post_header">
        <h2 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}"><strong>{{ post.title}}</strong></a>
        </h2>
        {% for category in post.categories %}
        <time class="post_date"><em>{{ post.date | date: "%B/%d/%Y, %A" }} in <a href="{{" /archive" | prepend:
              site.baseurl }}">{{ category }}</a></em></time>
        {% endfor %}
        <hr>
      </header>
      <div class="post_excerpt">
        <p>
          {% if post.description %}
          {{ post.description}}
          {% else %}
          {{ post.excerpt }}
          {% endif %}
          <br><a class="read-more" href="{{ post.url | prepend: site.baseurl }}"><strong> ▶ Read More </strong></a>
        </p>
      </div>
      <footer class="post_meta">

        <!--
        {% if post.location %}
        <span class="author-location">
          <div data-icon="ei-location"></div>
          <a href=https://www.google.com/maps/place/{{post.location}}">{{ post.location }}</a>
        </span>
        {% endif %}
        
        
        {% for category in post.categories %}
        <a href="{{"/category/" | append: category | prepend: site.baseurl }}">
          <data data-icon="ei-archive"></data>
          <u>{{category}}</u></a>
        {% endfor %}
        
        
        {% if post.author %}
        <span class="author_meta">
          <img src="{{site.baseurl}}/assets/img/{{post.author}}.jpg"></img>
          <span>David Lin</span>
        </span>
        {% endif %}
        -->

        <!--p class="readmore">
          <a href=""><data data-icon="ei-arrow-right"></data>Read this article  </a>
        </p-->
      </footer>
      <hr style="border: 1px solid">
    </article>
    {% endfor %}

    <div class="pagination older-post"><a href="./archive"><data data-icon="ei-arrow-right"></data> Archive </a></div>
  </div>
</div>