---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="artilce_header">
    <h1 class="artilce_title" itemprop="name headline">{{ page.title }}</h1>
    <p class="artilce_meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        <em>{{ page.date | date: "%B/%d/%Y, %A" }}</em>
      </time>
    </p>
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div>

  <footer class="article-footer">

  <hr/>

  </footer>

  {% include dq.html %}

</article>
