---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article_header">
    <h1 class="article_title" itemprop="name headline"><strong>{{ page.title }}</strong></h1>
    <p class="article_meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        <em>{{ page.date | date: "%B/%d/%Y, %A" }}</em>
      </time>
      <hr>
    </p>
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  <br><hr>
  </div>

  {% include dq.html %}

</article>

